'*.MP4' filter=lfs diff=lfs merge=lfs -text
'Demo/Assets/IMGs/videos/*.MP4' filter=lfs diff=lfs merge=lfs -text
'Demo/Library/PlayerDataCache/Data/sharedassets0.resource' filter=lfs diff=lfs merge=lfs -text
